<%= form_for(@job_posting) do |f| %>
  <% if @job_posting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_posting.errors.count, "error") %> prohibited this job_posting from being saved:</h2>

      <ul>
      <% @job_posting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





  <%= f.fields_for(:company) do |ff| %>
    <div>
      <%= ff.label :company_name %><br>
      <%= ff.text_field :company_name %>
    </div>
    <div>
      <%= ff.label :location %><br>
      <%= ff.text_field :location %>
    </div>
    <div>
      <%= ff.label :industry %><br>
      <%= ff.text_field :industry %>
    </div>
  <% end %>




  <div class="field">
    <%= f.label :job_title %><br>
    <%= f.text_field :job_title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <%#= f.form_for :company do |ff| %>
    <!-- <div class="field"> -->
      <%#= ff.label :company_name %><br>
      <%#= ff.number_field :company_name %>
    <!-- </div> -->
  <%# end %>
  <div class="field">
    <%= f.label :posting_date %><br>
    <%= f.date_select :posting_date %>
  </div>
  <div class="field">
    <%= f.label :posting_url %><br>
    <%= f.text_field :posting_url %>
  </div>
  <div class="field">
    <%= f.label :is_filled %><br>
    <%= f.check_box :is_filled %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
