<p id="notice"><%= notice %></p>

<p>
  <strong>Job Title:</strong>
  <%= @job_posting.job_title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job_posting.description %>
</p>

<p>
  <strong>Company ID:</strong>
  <%= @job_posting.company_id %>
</p>

<% unless @job_posting.company_id.nil? %>

<p>
  <strong>Company Name:</strong>
  <%= @job_posting.company.company_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @job_posting.company.location %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @job_posting.company.industry %>
</p>

<% end %>

<p>
  <strong>Posting date:</strong>
  <%= @job_posting.posting_date %>
</p>

<p>
  <strong>Is Filled:</strong>
  <%= @job_posting.is_filled %>
</p>


<%= link_to 'Edit', edit_job_posting_path(@job_posting) %> |
<%= link_to 'Back', job_postings_path %>
