<p id="notice"><%= notice %></p>

<p>
  <strong>Job Title:</strong>
  <%= @job_posting.job_title %>
</p>

<% unless @job_posting.company_id.nil? %>

  <% unless @job_posting.company.company_name.nil? %>
    <p>
      <strong>Company Name:</strong>
      <%= @job_posting.company.company_name %>
    </p>
  <% end %>

  <% unless @job_posting.company.location.nil? %>
    <p>
      <strong>Location:</strong>
      <%= @job_posting.company.location %>
    </p>
  <% end %>

  <% unless @job_posting.company.industry.nil? %>
    <p>
      <strong>Industry:</strong>
      <%= @job_posting.company.industry %>
    </p>
  <% end %>

<% end %>

<p>
  <strong>Job Description:</strong>
  <%= @job_posting.description %>
</p>

<p>
  <strong>Posting Date:</strong>
  <%= @job_posting.posting_date %>
</p>

<p>
  <strong>Posting URL:</strong>
  <%= link_to "Link", @job_posting.posting_url %>
</p>

<p>
  <strong>Is Filled:</strong>
  <%= @job_posting.is_filled %>
</p>


<%= link_to 'Edit', edit_job_posting_path(@job_posting) %> |
<%= link_to 'Back', job_postings_path %>
